<a href="https://colab.research.google.com/github/manjunadh23/numpy/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame({"Roll No":["CSE501","CSE502"],"Name":["A.RAMU","B.RAJESH"]})
df

  Roll No      Name
0  CSE501    A.RAMU
1  CSE502  B.RAJESH

In [7]:
df=pd.read_csv("students_placement_data.csv")
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,71.45,0,yes,Placed
2,3,F,A,67.0,68.0,45.26,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed

In [8]:
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [9]:
df.describe()

,Roll No,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs
count,117.000000,116.000000,117.000000,117.000000,117.000000
mean,59.000000,80.474569,80.772906,62.943419,4.111111
std,33.919021,8.836079,11.267248,12.064306,6.335148
min,1.000000,47.800000,52.200000,31.200000,0.000000
25%,30.000000,76.622500,73.400000,54.180000,0.000000
50%,59.000000,82.745000,83.600000,64.360000,0.000000
75%,88.000000,87.025000,90.000000,72.570000,7.000000
max,117.000000,93.660000,96.900000,88.100000,25.000000

In [10]:
df.shape

(117, 9)

In [12]:
host_day=pd.read_csv("hostlers_day_scholars.csv")
host_day.head()

  hostler/days scholar
0                    d
1                    d
2                    d
3                    d
4                    h

In [13]:
host_day.shape

(117, 1)

In [14]:
df["hostler/days scholar"]=host_day.values
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status,hostler/days scholar
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed,d
1,2,F,A,89.0,92.4,71.45,0,yes,Placed,d
2,3,F,A,67.0,68.0,45.26,13,yes,Not placed,d
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed,d
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed,h

In [15]:
del df["registered_for_ Placement_Training"]
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,placement status,hostler/days scholar
0,1,M,A,87.3,65.3,40.00,18,Not placed,d
1,2,F,A,89.0,92.4,71.45,0,Placed,d
2,3,F,A,67.0,68.0,45.26,13,Not placed,d
3,4,M,A,71.0,70.4,36.47,17,Not placed,d
4,5,M,A,NaN,65.5,42.52,17,Not placed,h

In [16]:
df1=pd.DataFrame({'Roll No': [118],'Gender': ["F"],
'Section': ["C"], "SSC Percentage": [98.4],
'inter_Diploma_percentage':[99],'B.Tech_percentage':[75],
'Backlogs': [0], 'placement status': ["Not placed"],
"hostler/days scholar":["h"]},index=[117])
df1

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,placement status,hostler/days scholar
117,118,F,C,98.4,99,75,0,Not placed,h

In [17]:
df=df.append(df1)
df.head()

<ipython-input-17-2ab37e883cdf>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1)

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,placement status,hostler/days scholar
0,1,M,A,87.3,65.3,40.00,18,Not placed,d
1,2,F,A,89.0,92.4,71.45,0,Placed,d
2,3,F,A,67.0,68.0,45.26,13,Not placed,d
3,4,M,A,71.0,70.4,36.47,17,Not placed,d
4,5,M,A,NaN,65.5,42.52,17,Not placed,h

In [18]:
df=df.drop(3)
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,placement status,hostler/days scholar
0,1,M,A,87.30,65.3,40.00,18,Not placed,d
1,2,F,A,89.00,92.4,71.45,0,Placed,d
2,3,F,A,67.00,68.0,45.26,13,Not placed,d
4,5,M,A,NaN,65.5,42.52,17,Not placed,h
5,6,M,A,81.26,68.0,62.20,6,Not placed,h

In [19]:
df.loc[1,'hostler/days scholar']="h"
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,placement status,hostler/days scholar
0,1,M,A,87.30,65.3,40.00,18,Not placed,d
1,2,F,A,89.00,92.4,71.45,0,Placed,h
2,3,F,A,67.00,68.0,45.26,13,Not placed,d
4,5,M,A,NaN,65.5,42.52,17,Not placed,h
5,6,M,A,81.26,68.0,62.20,6,Not placed,h

In [21]:
def incre(x):
  if(x<70):
     return(x+0.05)
  else:
     return(x)

In [22]:
df["B.Tech_percentage"]=df["B.Tech_percentage"].apply(incre)
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,placement status,hostler/days scholar
0,1,M,A,87.30,65.3,40.05,18,Not placed,d
1,2,F,A,89.00,92.4,71.45,0,Placed,h
2,3,F,A,67.00,68.0,45.31,13,Not placed,d
4,5,M,A,NaN,65.5,42.57,17,Not placed,h
5,6,M,A,81.26,68.0,62.25,6,Not placed,h

In [24]:
for index,rows in df[df["B.Tech_percentage"]>=80].iterrows():
     print(rows["Roll No"],"-",rows["B.Tech_percentage"])

18 - 85.39
60 - 81.1
71 - 80.47
97 - 88.1
102 - 83.38

In [25]:
df.loc[[1,2],["SSC Percentage","inter_Diploma_percentage"]]

   SSC Percentage  inter_Diploma_percentage
1            89.0                      92.4
2            67.0                      68.0

In [27]:
df["SSC Percentage"]=df["SSC Percentage"].replace(to_replace=np.nan,value=np.mean(df["SSC Percentage"]))
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,placement status,hostler/days scholar
0,1,M,A,87.300000,65.3,40.05,18,Not placed,d
1,2,F,A,89.000000,92.4,71.45,0,Placed,h
2,3,F,A,67.000000,68.0,45.31,13,Not placed,d
4,5,M,A,80.710776,65.5,42.57,17,Not placed,h
5,6,M,A,81.260000,68.0,62.25,6,Not placed,h

In [28]:
grouped=df.groupby("Gender")
grouped["B.Tech_percentage"].agg(np.mean)

Gender
F    71.292400
M    57.343881
Name: B.Tech_percentage, dtype: float64

In [30]:
df2=pd.read_csv("urban_rural.csv")
df2.head()

   Roll No Urban/Rural
0        1       Urban
1        2       Rural
2        6       Rural
3        7       Urban
4        8       Urban

In [31]:
df=pd.merge(df,df2,on='Roll No')
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,placement status,hostler/days scholar,Urban/Rural
0,1,M,A,87.300000,65.3,40.05,18,Not placed,d,Urban
1,2,F,A,89.000000,92.4,71.45,0,Placed,h,Rural
2,3,F,A,67.000000,68.0,45.31,13,Not placed,d,Urban
3,5,M,A,80.710776,65.5,42.57,17,Not placed,h,Urban
4,6,M,A,81.260000,68.0,62.25,6,Not placed,h,Rural